:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.WebAppContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;    
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 1rem;
}

.WebApp {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.WebApp img {
    width: 100%;
    border-radius: 10px;
}

.WebAppDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.WebAppDetail img{
    width: 20%;
}