:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.WebAppContainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    padding: 5rem 0;
}

.WebAppIMG {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.WebAppIMG img {
    width: 90%;
}

.WebAppDetail {
    width: 40%;
    height: auto;
    margin: 0 auto;
}