:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.WebAppContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.WebApp {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.WebApp img {
    width: 100%;
    border-radius: 10px;
}

.WebAppDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.WebAppDetail img{
    width: 20%;
}