:root {
    --orange-color: rgb(255, 136, 0);
}

.App-header {
    background-image: url('https://www.egeniq.nl/sites/default/files/2020-06/frontend_webdeveloper.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: #ffffff;
}

.header__detail {
    position: absolute;
    text-align: left;
    margin-right: 40%;
    z-index: 2;
}

.header__detail p {
    font-size: calc(10px + 2vmin);
    color: var(--orange-color);
    font-weight: 600;
    line-height: 0px;
}

.header__detail h2 {
    background-clip: text;
	-webkit-background-clip: text;
	color: #ffffff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.scroll-txt {
    display: flex;
    align-items: center;
    background-clip: text;
	-webkit-background-clip: text;
    color: rgba(255, 255, 255, 0.2);
    font-size: 2vw;
    font-weight: 600;
    animation: pulse 2s infinite;
    -webkit-animation: pulse 3s infinite;
    padding: 5rem 0;
}

.downArrow {
    transform: scale(2);
    -webkit-transform: scale(2);
    -ms-transform: scale(2)
}


@keyframes pulse {
    0% { 
        color: rgba(255, 255, 255, 0.1);
    }
    50% { color: rgb(255, 255, 255); }
    100% { color: rgba(255, 255, 255, 0.1); }
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.header__img {
    width: 40%;
    height: auto;
    margin-left: 50%;
    aspect-ratio: 1/1;
    border-radius: 20% 0 20% 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a7c6ebbd), to(transparent));
    background: -o-linear-gradient(#a7c6ebbd, transparent);
    background: linear-gradient(#a7c6ebbd, transparent);
    display: grid;
}

.header__img__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img__box img{
    width: 95%;
    border-radius: 20% 0 20% 0;
}

@media only screen and (max-width: 1024px) {

    .header__detail h2 {
        font-size: 6vw;
    }
    
    .scroll-txt {
        font-size: 3vw;
    }

}

@media only screen and (max-width: 768px) {
    
    .App-header h2, .downArrow {
        font-size: 7vw;
    }

    .header__detail {
        margin-right: 25%;
    }

    .header__img {
        width: 50%;
        margin-left: 50%;
    }

    .scroll-txt {
        font-size: 3vw;
    }
    
}

@media only screen and (max-width: 600px) {

    .App-header {
        min-height: 65vh;
    }

    .typeWritter {
        font-size: 1.2rem;
    }

    .scroll-txt {
        font-size: 4vw;
        padding: 1rem 0;
    }

    .downArrow {
        transform: scale(2);
        -webkit-transform: scale(2);
        -ms-transform: scale(2)
    }
}
