:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.LandingPageContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;    
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 1rem;
}

.LandingPage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.LandingPage img {
    width: 100%;
    border-radius: 10px;
}

.LandingPageDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.LandingPageDetail img{
    width: 20%;
}


/* Hover affects */

.Content__Hover {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 0 5px;
    opacity: 0;
}

.LandingPage:hover .Content__Hover {
    bottom: 0;
    transition: all 0.3s;
    transition-delay: 0.3s;
    color: #fff;
    background-color: rgba(7, 7, 7, 0.781);
    opacity: 1;
}

.Content__Header,
.Content__detail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.Content__Header p {
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
}

.Content__detail p {
    font-size: 1vw;
}

@media only screen and (max-width: 1024px) {

    .Content__Header p {
        font-size: 3vw;
    }

    .Content__detail p {
        font-size: 1.5vw;
    }

    .Content__detail li {
        font-size: 1vw;
    }
    
}

@media only screen and (max-width: 768px) {

    .Content__Header p {
        font-size: 5vw;
    }

    .Content__detail p {
        font-size: 3vw;
    }

    .Content__detail li {
        font-size: 2.5vw;
    }
    
}