:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.LandingPageContainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    padding: 5rem 0;
}

.LandingPageIMG {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.LandingPageIMG img {
    width: 90%;
    border-radius: 10px;
}

.LandingPageDetail {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.LandingPageDetail img{
    width: 30%;
    margin: 10px;
}