:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.DashboardContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Dashboard {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.Dashboard img {
    width: 100%;
    border-radius: 10px;
}

.DashboardDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.DashboardDetail img{
    width: 20%;
}