:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.DashboardContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;    
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 1rem;
}

.Dashboard {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.Dashboard img {
    width: 100%;
    border-radius: 10px;
}

.DashboardDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
}

.DashboardDetail img{
    width: 20%;
}