:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.DashboardContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.Dashboard img {
    width: 100%;
    border-radius: 10px;
}

.DashboardDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.DashboardDetail img{
    width: 20%;
}