:root {
	--main-color: #00c4e6;
    --mobile-menu-text: #3c46ce;
}

/* Navbar section */
a {
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    font-family: 'Prompt';
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo .logo-nav {
    display: flex;
    align-items: center;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: calc(10px + 2vmin);
}

.nav div.main_list {
    height: 65px;
    float: right;
    display: flex;
    align-items: center;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul .link {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul .link {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: calc(10px + 1.5vmin);
}

.nav div.main_list ul .link:hover {
    color: var(--main-color);
}

.mobile-menu {
    display: none;
    color: #ffffff;
    transform: scale(1.5);
    float: right;
    margin: .5rem 2rem;
}

#mainListDiv ul .link{
    display: flex;
}

.mobile-menu:active {
    color: var(--main-color);
}

@media only screen and (max-width: 768px) {

    .nav {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .nav div.logo {
        padding-left: 1rem;
    }

    .nav div.main_list ul .link{
        display: none;
    }

    .mobile-menu {
        display: flex;
    }
    
    #mainListDiv ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0px;
        top: 65px;
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    #mainListDiv ul .link{
        padding-left: 3rem;
        font-weight: 600;
        color: #ffffff;
    }
}