:root {
	--main-color: #00c4e6;
    --orange-color: rgb(255, 136, 0);
    --orange-color-hover: rgb(255, 168, 68);
    --article-color: #01135f;
}

.about {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    /* background: -webkit-gradient(
        linear, 
        left top, left bottom, 
        color-stop(95%, rgb(197, 197, 197, 0.2)),
        to(#ffffff));
    background: -o-linear-gradient(
        top, 
        rgb(197, 197, 197, 0.2) 95%,
        #ffffff 100%);
    background: linear-gradient(
        to bottom, 
        rgb(197, 197, 197, 0.2) 95%,
        #ffffff 100%); */
    font-size: 2vw;
    font-family: 'Prompt', sans-serif;
}

.about__me__section {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
}

.about__me {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 2vw;
    color: #f4f4f4;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50px 10px 50px 10px;
    padding: 2rem ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about__me {
    position: relative;
}

.about__me::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-image: url('../assets/profile-pic-1.jpg');
    background-size: cover;
    -webkit-filter: blur(5px) opacity(50%);
    -moz-filter: blur(5px) opacity(50%);
    -o-filter: blur(5px) opacity(50%);
    -ms-filter: blur(5px) opacity(50%);
    filter: blur(5px) opacity(50%);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50px 10px 50px 10px;
    padding: 2rem ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
}

.about__me .about_me_content{
    position: relative;
    z-index: 1;
}

.about__me h2{
    text-transform: uppercase;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--orange-color);
    text-decoration-color: var(--orange-color);
}

.about__me p{
    font-size: 1vw;
    font-weight: 500;
    color: #ffffff;
    -webkit-text-stroke: .2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.btn {
    padding: 1rem;
}

.btn a {
    font-size: calc(10px + 1vmin);
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    background-color: var(--orange-color);
    border-radius: 10px;
    padding: 10px 20px;
}

.btn a:hover {
    background-color: var(--orange-color-hover);
}

.about__portfolio__section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #01135f;
}

.portfolio__item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 3px 3px rgb(255, 255, 255);
    box-shadow: 0 0 3px 3px rgb(255, 255, 255); /* outer */
    border-radius: 30px 10px 30px 10px;
    margin: 50px 0;
    padding: 15px;
}

.portfolio__item__header, 
.portfolio__item__content {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.icon {
    width: 15%;
}

.portfolio__item__header p {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.portfolio__item__content p {
    text-align: right;
    font-size: 1vw;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 20px;
}

@media only screen and (max-width: 1440px) {

    .about__me__section {
        width: 90%;
    }

}


@media only screen and (max-width: 1024px) {

    .about__me__section {
        display: block;
        margin-top: 2rem;
    }

    .about__me h2 { font-size: 3.5em; }

    .about__me p, .portfolio__item__content p {
        font-size: 2vw;
    }

    /*Disable AOS*/
    [data-aos] {
        pointer-events: auto !important;
    }

    html:not(.no-js) [data-aos^=zoom][data-aos^=zoom] {
      opacity: 1 !important;
    }

    html:not(.no-js) [data-aos=zoom-in] {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
    }
  
    html:not(.no-js) [data-aos=fade-left] {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

}

@media only screen and (max-width: 912px) {
    .portfolio__item {
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {

    
}

@media only screen and (max-width: 600px) {

    .about__me h2 { font-size: 4em; }

    .about__me p, .portfolio__item__content p {
        font-size: 2.5vw;
    }

    .portfolio__item {
        border-radius: 30px 10px 30px 10px;
        margin: 20px 0;
    }

    .portfolio__item__header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .icon {
        width: 20%;
    }
    
    .portfolio__item__header p {
        font-size: 3vw;
    }

    /*Disable AOS*/
    [data-aos] {
        pointer-events: auto !important;
    }

    html:not(.no-js) [data-aos^=zoom][data-aos^=zoom] {
      opacity: 1 !important;
    }

    html:not(.no-js) [data-aos=zoom-in] {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

}