:root {
	--main-color: #00c4e6;
}

.skillsContainer {
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    background-color: #f3f3f383;
    font-size: 2vw;
}

.skillsContainer h2 {
    text-transform: uppercase;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://wallpaper.dog/large/11032432.jpg');
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

.gridFrontSkills {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    align-items: center;
}

.gridBackEndSkill {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    align-items: center;
}

.Skill {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
 }

 .Skill img {
     width: 30%;
     height: auto;
     margin: 0 auto;
 }

 .Skill p{
    font-size: calc(10px + 1vmin);
    font-weight: 600;
 }

 .Skill p:last-child{
    font-size: calc(10px + .5vmin);
    font-weight: 300;
    margin: 1rem;
}

.gridBackEndSkill .Skill p{
    font-size: calc(10px + 1vmin);
    font-weight: 600;
}

@media only screen and (max-width: 768px) {

    .skillsContainer h2 {
        font-size: 8vw;
    }

    .gridFrontSkills .Skill p:last-child{
        display: none;
    }

    .Skill img {
        width: 50%;
    }

}

@media only screen and (max-width: 600px) {
    .gridFrontSkills, .gridBackEndSkill {
        grid-template-columns: repeat(2,1fr);
    }
}