:root {
	--main-color: #00c4e6;
    --underline-color: #ff8800;
}

.skillsContainer {
    width: 100%;
    margin: 0 auto;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Prompt', sans-serif;
}

.skillsContainer h2 {
    font-size: 5em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    /* background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://wallpaper.dog/large/11032432.jpg'); */
    text-decoration: underline;
    -webkit-text-decoration-color: var(--underline-color);
    text-decoration-color: var(--underline-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1rem 0;
}

.gridFrontSkills,
.gridBackEndSkill {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 4rem;
    gap: 20px;
}

.Skill {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 1rem;
 }

 .Skill img {
    width: 30%;
    height: auto;
    margin: 0 auto;
 }

 .Skill p{
    font-size: calc(10px + 1vmin);
    font-weight: 600;
 }

 .Skill p:last-child{
    font-size: calc(10px + .5vmin);
    font-weight: 400;
    margin: 1rem;
}

.gridBackEndSkill .Skill p{
    font-size: calc(10px + 1vmin);
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {

    .skillsContainer h2 {
        text-align: center;
        font-size: 5em;
    }

    .gridFrontSkills, 
    .gridBackEndSkill {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {

    .skillsContainer h2 {
        font-size: 5rem;
    }

    .gridFrontSkills .Skill p:last-child{
        display: none;
    }

    .Skill img {
        width: 50%;
    }

}

@media only screen and (max-width: 600px) {

    .skillsContainer h2 {
        font-size: 12vw;
    }

    .gridFrontSkills, .gridBackEndSkill {
        -ms-flex-wrap: wrap;     
        flex-wrap: wrap;
        margin-top: 0;
        gap: 0;
    }

    .Skill {
        max-width: 40%;
        padding: 16px 8px;
    }
}