:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
}

.WireframeContainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wireframe {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.Wireframe img {
    width: 100%;
    border-radius: 10px;
}

.WireframeDetail {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.WireframeDetail img{
    width: 20%;
}