:root {
	--main-color: #00c4e6;
    --blue: #3d3c77;
    --underline-color: #ff8800;
}

.projectContainer {
    display: block;
    background: linear-gradient(
        to top, 
        rgba(221, 221, 221, 0.4) 80%,
        #ffffff 100%),
    url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg") no-repeat;
    background-size: cover;
    background-clip: border-box;
    font-size: 2vw;
    padding: 1rem;
}


.projectContainer h2 {
    text-transform: uppercase;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://wallpaper.dog/large/11032432.jpg');
    text-decoration: underline;
    text-decoration-color: var(--underline-color);
}

.gridProject {
    margin: 0 auto;
    display: block;
    align-items: center;
}

.project {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
 }

 .project:nth-child(2),.project:nth-child(4) {
     flex-direction: row-reverse;
 }

 .projectTopic, .projectDetail {
     width: 100%;
     height: auto;
     margin: 0 auto;
 }

 .projectTopic span {
    font-size: 1.2em;
    font-family: 'Prompt';
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    background: linear-gradient(to right, #330867 0%, #30CFD0 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 @media only screen and (max-width: 1045px) {

    .projectContainer {
        padding: 10px;
    }

    .gridProject {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    
 }

 
 @media only screen and (max-width: 768px) {

    .projectContainer h2 {
        font-size: 8vw;
    }

    .project {
        width: 90%;
    }

    .projectTopic span {
        font-size: 4vw;
    }
 }

 @media only screen and (max-width: 670px) {

    .gridProject {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }

    .project img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        border-radius: 5px;
    }

    .element[data-aos="fade-in"] {
        transform: none !important;
    }

}

@media only screen and (max-width: 560px) {

    .project {
        display: block;
    }

    .projectTopic {
        padding: 20px 0;
    }

    .projectTopic span {
        font-size: 5vw;
    }

}